body{
    background:url(https://www.shutterstock.com/image-photo/epic-deep-blie-football-stadium-260nw-2581451581.jpg);
     opacity:1; background-size: cover;
    color:yellowgreen;
    margin-top:3rem ;
    font-family:'Courier New', Courier, monospace;
}
p{
    
    font-size:2rem;
    margin-left: 2rem;
}
.navigation {
    background: url(https://img.freepik.com/free-photo/card-soft-template-paper-report_1258-167.jpg?semt=ais_hybrid&w=740&q=80);
    padding: 0.8rem;
    position: fixed;
    left:0;
    right:0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: left;
}
.navigation a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.2rem;
padding-left:1.5;}
#tm{
    margin-left:70rem;
    margin-top: 30rem;
    background: gold;
    color:black;
}