body{
    background:url(https://www.shutterstock.com/image-photo/epic-deep-blie-football-stadium-260nw-2581451581.jpg);
    opacity:1; background-size: cover;
    color:white;
    height: auto;
    margin-top:3rem ;
    font-size: rem;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 1rem;
    margin-bottom: 10rem;

}
h2{
    font-size: 1.5rem;
    margin-left: 2rem;
}
p{
    font-size:1rem;
    margin-left: 2rem;
}
.navigation {
    background: url(https://img.freepik.com/free-photo/card-soft-template-paper-report_1258-167.jpg?semt=ais_hybrid&w=740&q=80);
    padding: 0.8rem;
    position: fixed;
    left:0;
    right:0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: left;
}
.navigation a {
    color: white;
    text-decoration: none;
    margin-left: 0.8rem;
    font-size: 1.2rem;
padding-left:1.5;}
#tm{
    margin-left:70rem;
    margin-top: 30rem;
    background: gold;
    color:black;
    position:absolute;
}
.teams a{padding-left: 1rem;
    color:green;
    font-size: 1.2rem;
    
}
.teamlink a{
    padding: 2rem;
    color:red;
    font-size: 1.2rem;
}
.search{
    margin-left: 25rem;
    padding: 0.5rem;
    margin-top: 3rem;
    font-size: 1rem;
    align-items: center;
    width: 18rem;
    border-radius: 1rem;
    text-align: center;
    text-transform: inherit;
}
mark{
    background: white;
    color:red;
}